<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @website.name %>
</p>

<p>
  <b>Url:</b>
  <%= @website.url %>
</p>

<p>
  <b>Feed Url:</b>
  <%= @website.feedUrl %>
</p>

<table>
  <tr>
    <th>Link</th>
    <th></th>
  </tr>

  <% if @website.links.count > 0 %>
      <% @website.links.each do |link| %>
          <tr>
            <td><%=	 link_to link.file_name, link.url %></td>
          </tr>
      <% end %>
      </table>
  <% end %>

  <%= link_to 'Crawl', crawl_url(@website) %> |
  <%= link_to 'Edit', edit_website_path(@website) %> |
  <%= link_to 'Back', websites_path %>
