<div class="search_form">
  <%= form_tag root_url, :method => 'get', :id => "feed_table_search" do %>
      <%= hidden_field :direction, params[:direction] %>
      <%= hidden_field :sort, params[:sort] %>
      <p>
        <%= text_field_tag :search, params[:search], :size => 50 %>
        <%= submit_tag "Search", :name => nil %>
      </p>
  <% end %>
</div>
<table class="feedTable">
  <tr>
    <th><%= sortable "name", "Website" %></th>
    <th><%= sortable "file_name", "Link" %></th>
    <th><%= sortable "created_at", "Date Added" %></th>
  </tr>
  <% @feed_items.each do |link| %>
      <tr>
        <td><%= link_to link.website.name, link.website.url %></td>
        <td><%= link_to link.file_name, link.url %></td>
        <td><%= link.created_at %></td>
      </tr>
  <% end %>
</table>
<%= will_paginate @feed_items %>