<!DOCTYPE html>
<html>
<head>
  <title>mp3Reader</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <style type="text/css">
      .footer {
          text-align: center;
      }
  </style>
</head>
<body>
<div class="container">
  <header>
    <span class="heading">mp3Reader</span> in dev!

    <nav>
      <ul>
        <li><%= link_to "Home", "/" %></li>
        <li>
          <div id="user_nav">
            <% if user_signed_in? %>
                <li><%= link_to "Websites", "/websites" %></li>
                <li><%= link_to "Crawl All Websites", "/websites/all/crawl" %></li>
                Signed in as <%= current_user.email %> Not you? <%= link_to "Sign out", destroy_user_session_path %>
            <% else %>
                <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <p>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
  </p>
  <div class="content"><%= yield %></div>
</div>
<footer>
  <span class="footer">@absentees</span>
</footer>
</body>
</html>
